/*
COLOR PALETTE
https://coolors.co/1d201f-ff1d15-7d1538-f5f5f5
#1D201F    black
#FF1D15    red
#7D1538    dark red
#F5F5F5    white
 */

body {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    background-color: #1D201F;
    color: #F5F5F5;
    text-align: left;
}

header {
    border-bottom: 5px solid #7D1538;
    display: flex;
}

main {
    background-image: url("../images/voyage-tessin.png");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: bottom center;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #7D1538;
}

h1 {
    font-size: 3rem;
    color: #F5F5F5;
    padding:  10px;
    text-align: center;
}

h2 {
    font-size: 2rem;
    color: #FF1D15;
}

a {
    color: #F5F5F5;
    font-weight: bold;
}

a:hover {
    text-shadow: 0px 0px 10px #FF1D15;
    color: #FF1D15;
}

img {
    box-shadow: 0px 0px 40px #F5F5F5;
    margin: 15px;
}